body {
    background: #fff;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    background: #145363;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 50px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.headerTittle {
    display: flex;
    align-items: center;
}

.headerTittle h1 {
    color: #00a0fd;
    font-size: 23px;
    text-transform: uppercase;
}

.headerLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav {
    display: flex;
    color: #fff;
    list-style: none;
}

.nav li {
    position: relative;
    margin-left: 10px;
}

.nav li a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.nav li a:hover {
    color: #00a0fd;
}

.contentInner {
    display: flex;
    justify-content: space-between;

}

.sidebarBlog {
    position: relative;
    border: 2px solid #00a0fd;
    box-shadow: 0 0 10px rgba(0,0,0, 0.7);
    width: auto;
    overflow: hidden;
    max-height: 350px;
}


.sidebarBlog a {
    font-family: Arial, sans-serif;
    color: rgba(0,0,0, 0.8);
    display: block;
    padding: 10px 30px 10px 10px;
    font-size: 20px;
    height: 24px;
    width: auto;
    border-left: 2px solid rgba(0,0,0, 0.0);
    border-right: 2px solid rgba(0,0,0, 0.0);
}

.sidebarBlog a.active {
    background-color: #145363;
    color: #fff;
    transition: ease 0.3s;
    border-left: 2px solid #00a0fd;
    border-right: 2px solid #00a0fd;
}

.sidebarBlog a.active::first-letter {
    color: orange;
}

.sidebarBlog a:hover {
    background-color: #145363;
    color: #fff;
    transition: ease 0.3s;
    border-left: 2px solid #00a0fd;
    border-right: 2px solid #00a0fd;
}

.sidebarBlog a:hover::first-letter {
    color: #00a0fd;
}

.tabs {
    position: relative;
    width: 800px;
    padding: 10px;
}

.tabsItem {
    display: block;
}

.tabsItemNone {
    display: none;
}

.tabsTittle {
    font-size: 30px;
    color: #00a0fd;
}

.tabsText {
    font-size: 20px;
}

.tabsImage {
    position: relative;
    width: 100%;
    height: auto;
    border-left: 1px solid #00a0fd;
    border-right: 1px solid #00a0fd;
}

.footer {
    padding: 30px 0;
    background-color: #145363;
    margin-top: 30px;
}

.footerContent {
    color: #fff;
}

.footerContacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footerContacts h3 {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: normal;
}

.contactsMobile p {
    margin: 0 0 10px;
    font-size: 16px;
}

.contactsSocial img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.contactsEmail p {
    border-bottom: 1px solid #00a0fd;
    cursor: pointer;
}

.contactsEmail p:hover {
    color: #00a0fd;
}

.footerContacts h3::first-letter {
    color: #00a0fd;
}

.footerRights {
    text-align: center;
}

.footerRights span {
    color: #00a0fd;
    cursor: pointer;
}

.footerRights span:hover {
    color:rgba(0,0,0, 0.7);
}



::selection {
    background-color: orange;
}

